<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <div>
        <p><%- content %></p>
        <p><a href="<%= link.href %>"><%= link.text %></a></p>
    </div>
  </body>
</html>
